<!DOCTYPE html>
<html>
<head>
    <title>Order Menu</title>
</head>
<body>
    <h2>Order Menu</h2>
    <form method="POST" action="{% url 'checkout_order' %}">
        {% csrf_token %}
        <ul>
            {% for item in menu_items %}
                <li>
                    <input type="checkbox" name="ordered_menu_items" value="{{ item.id }}">
                    {{ item.name }} - {{ item.price }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Checkout</button>
    </form>
</body>
</html>
